
.graphapi-title {
  background-color: white;
  border-radius: 15px;
  border: 1px solid yellowgreen;
  margin: 5px;
  padding: 2px;
  box-shadow: 3px 3px 1px #888;
}

.graphapi-node.ui-draggable-dragging .graphapi-title {
  border: 3px solid #a99;
  box-shadow: 3px 3px 10px #444;
}

.graphapi-content {
  display: none;
}

edge {
  z-index: 100;
  border-radius: 5px;
  border: 1px solid red;
  margin: 0px;
  padding: 0px;
  width: 6px;
  height: 6px;
  overflow: hidden;
  background-color: white;
}
